* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12.5px;
  text-align: center;
  line-height: 1.5;
  color: #263238; }

a {
  color: #9C27B0;
  text-decoration: none; }
  a:hover {
  color: #F57C00;
    text-decoration: underline; }

.project-tagline {
  margin-bottom: 7rem;
  font-weight: normal;
  opacity: 0.5; }

@media screen and (max-width: 50em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #90A4AE; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85rem;
  color: #383e41;
  background-color: #EEEEEE;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #CFD8DC;
  border: solid 1px #CFD8DC;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.5rem;
  overflow: auto;
  font-size: 0.7rem;
  line-height: 1.45;
  border-radius: 0.1rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #CFD8DC; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #CFD8DC; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #CFD8DC;
  border: 0; }
@media screen {
  .main-content {
    padding: 1rem 3rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 0.5rem;
  margin-top: 13rem;
  border-top: solid 1.5px #CFD9DC; }
.site-footer-credits {
  color: #9E9E9E; }
@media screen {
  .site-footer {
    text-align: right;
    font-size: 0.7rem; } }
